li a {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
body {
    background: white url("images/photo_5352685782885843786_y.jpg");
    
}
